<html>

<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "WebApp/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "WebApp/css/result.css" %}" type="text/css">
    <script src="{% static "WebApp/js/d3.min.js" %}"></script>
    <script src="{% static "WebApp/js/dimple.v2.1.6.min.js" %}"></script>
</head>

<body>
<div id="nav">
    <div id="logo">
        <a href="{% url 'index' %}"><img src="{% static "WebApp/img/logo.jpeg" %}" alt="logo"></a>
    </div>
    <ul id="navi">
        <li class="navMenu"><a href="{% url 'honeycell' %}">HoneyCell</a></li>
        <li class="navMenu"><a href="{% url 'upload' %}">New Task</a></li>
        <li class="navMenu"><a href="{% url 'preprocess' %}">Preprocessing</a></li>
        <li class="navMenu"><a href="{% url 'analytics' %}">Analytics</a></li>
        <li class="navMenu"><a href="{% url 'visualization' %}">Visualization</a></li>
        <li class="navMenu"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>

<h2 class="log"> Hello {{ user }} </h2>

<div class="container">
    <div class="row" align="center">
        <h1>This is add_waiter_restaurant page.</h1>

        <hr>

        <form action="{% url 'add_waiter_restaurant' restaurant.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <h3 align="center" style="color: red">
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    </h3>
                    <thead>
                    <tr>
                        <th colspan="2"><h3 align="center">Add new waiter for the restaurant</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label>Waiter name: </label>
                        </td>
                        <td>
                            <input type="text" name="waiter_name" required/>
                        </td>
                    </tr>
                    <tbody>
                    <tr>
                        <td>
                            <label>Waiter salart: </label>
                        </td>
                        <td>
                            <input type="number" name="waiter_salary" required/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><p align="center"><input type="submit" value="Add the waiter"></p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>

        <hr>

        <h2 align="center"><a href="{% url 'show_restaurants' %}">Show all restaurants</a></h2>

        <hr>

        <h2 align="center"><a href="{% url 'message' %}">Back to message page</a></h2>

        <hr>

    </div>
</div>

<h3>
    Welcome to HoneyCell WebServer!
</h3>
<form method="get" action="{% url 'logout' %}">{% csrf_token %}
    <p>
        <button type="submit">Log Out</button>
    </p>
</form>

</body>
</html>

