<html>

<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "WebApp/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "WebApp/css/result.css" %}" type="text/css">
    <script src="{% static "WebApp/js/d3.min.js" %}"></script>
    <script src="{% static "WebApp/js/dimple.v2.1.6.min.js" %}"></script>
</head>

<body>
<div id="nav">
    <div id="logo">
        <a href="{% url 'index' %}"><img src="{% static "WebApp/img/logo.jpeg" %}" alt="logo"></a>
    </div>
    <ul id="navi">
        <li class="navMenu"><a href="{% url 'honeycell' %}">HoneyCell</a></li>
        <li class="navMenu"><a href="{% url 'upload' %}">New Task</a></li>
        <li class="navMenu"><a href="{% url 'preprocess' %}">Preprocessing</a></li>
        <li class="navMenu"><a href="{% url 'analytics' %}">Analytics</a></li>
        <li class="navMenu"><a href="{% url 'visualization' %}">Visualization</a></li>
        <li class="navMenu"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>

<h2 class="log"> Hello {{ user }} </h2>

<br>

<div class="container">
    <div class="row" align="center">

        <div class="table-responsive">
            <table class="table table-hover" border="2" style="text-align: left">
                <thead>
                <tr>
                    <th colspan="2"><h2 align="center">This is the detail for <i>{{ restaurant.name }}</i></h2></th>
                </tr>
                </thead>
                <tbody>
                    <col width="50%">
                    <col width="50%">
                    <tr>
                        <td><label>Restaurant name: </label></td>
                        <td>{{ restaurant.name }}</td>
                    </tr>
                    <tr>
                        <td><label>Restaurant place: </label></td>
                        <td>{{ restaurant.place }}</td>
                    </tr>
                    <tr>
                        <td><label>Restaurant serves hot dog?: </label></td>
                        <td>{{ restaurant.serves_hot_dogs }}</td>
                    </tr>
                    <tr>
                        <td><label>Restaurant serves pizzas?: </label></td>
                        <td>{{ restaurant.serves_pizzas }}</td>
                    </tr>
                    <tr>
                        <td><label>Restaurant's waiters: </label></td>
                        <td>{{ restaurant.waiter_set.all }}</td>
                    </tr>
                    <tr>
                        <td><label>Restaurant time created: </label></td>
                        <td>{{ restaurant.time_created }}</td>
                    </tr>
                    <tr>
                        <td><label>Restaurant time changed: </label></td>
                        <td>{{ restaurant.time_changed }}</td>
                    </tr>


                    <tr>

                        <td>
                            <a href=""><button>Delete the foo</button></a>
                        </td>
                        <td>
                            <a href=""><button>Edit the book</button></a>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"><h2 align="center"><a href="{% url 'add_waiter_restaurant' restaurant.id %}"><button >Add waiter for the restaurant</button></a></h2></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <h2><a href="{% url 'show_restaurants' %}"><button>Show all restaurants</button></a></h2>

        <hr>

        <h2><a href="{% url 'message' %}"><button>Back to message page</button></a></h2>

        <hr>

    </div>
</div>

<h3>
    Welcome to HoneyCell WebServer!
</h3>
<form method="get" action="{% url 'logout' %}">{% csrf_token %}
    <p>
        <button type="submit">Log Out</button>
    </p>
</form>

</body>
</html>

