<html>

<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "WebApp/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "WebApp/css/result.css" %}" type="text/css">
    <script src="{% static "WebApp/js/d3.min.js" %}"></script>
    <script src="{% static "WebApp/js/dimple.v2.1.6.min.js" %}"></script>
</head>

<body>
<div id="nav">
    <div id="logo">
        <a href="{% url 'index' %}"><img src="{% static "WebApp/img/logo.jpeg" %}" alt="logo"></a>
    </div>
    <ul id="navi">
        <li class="navMenu"><a href="{% url 'honeycell' %}">HoneyCell</a></li>
        <li class="navMenu"><a href="{% url 'upload' %}">New Task</a></li>
        <li class="navMenu"><a href="{% url 'preprocess' %}">Preprocessing</a></li>
        <li class="navMenu"><a href="{% url 'analytics' %}">Analytics</a></li>
        <li class="navMenu"><a href="{% url 'visualization' %}">Visualization</a></li>
        <li class="navMenu"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>

<h2 class="log"> Hello {{ user }} </h2>

<br>

<div class="container">
    <div class="row" align="center">

        <h2 align="center">This is show_restaurants page.</h2>

        <div class="table-responsive">
            <table class="table table-hover" border="3">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">

                <thead>
                <tr>
                    <th colspan="10"><h3 align="center">Here are all the restaurants.</h3></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td><label>Restaurant name</label></td>
                    <td><label>Restaurant place</label></td>
                    <td><label>Serves hot dogs?</label></td>
                    <td><label>Serves pizzas?</label></td>
                    <td><label>Restaurant time changed</label></td>
                    <td><label>Restaurant time changed</label></td>
                    <td><label>Restaurant's waiters</label></td>
                    <td><label>Detail</label></td>
                    <td><label>Edit</label></td>
                    <td><label>Delete</label></td>
                </tr>
                {% for restaurant in restaurants %}
                    <tr>
                        <td>{{ restaurant.name }}</td>
                        <td>{{ restaurant.place }}</td>
                        <td>{{ restaurant.serves_hot_dogs }}</td>
                        <td>{{ restaurant.serves_hot_dogs }}</td>

                        <td>{{ restaurant.time_created }}</td>
                        <td>{{ restaurant.time_changed }}</td>
                        <td>
                            {% for each_waiter in restaurant.waiter_set.all %}
                                <p>{{ each_waiter }}</p>
                            {% endfor %}
                        </td>
                        <td><a href="{% url 'restaurant_detail' restaurant.id %}">
                            <button>Detail</button>
                        </a></td>
                        <td><a href="">
                            <button>Edit</button>
                        </a></td>
                        <td><a href="">
                            <button>Delete</button>
                        </a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <hr>

        <h2 align="center"><a href="{% url 'add_restaurant' %}"><button>Add restaurant</button></a></h2>

        <hr>

        <h2 align="center"><a href="{% url 'message' %}">Back to message page</a></h2>

        <hr>

    </div>
</div>

<h3>
    Welcome to HoneyCell WebServer!
</h3>
<form method="get" action="{% url 'logout' %}">{% csrf_token %}
    <p>
        <button type="submit">Log Out</button>
    </p>
</form>

</body>
</html>

